	        <div id="footer-wrapper">
				<section id="contact" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>What's this all about?</h2>
								</header>
                                <div class="row">
                                    <div class="2u">
                                    <a href="#" class="icon"><img src="{{ site.baseurl }}/assets/images/lior8bit.png" alt="" /></a>
                                    </div>
                                    <div class="10u">
                                    <p>
                                        I'm a PhD candidate at the computational neurobiology lab headed by <a href="http://chechiklab.biu.ac.il/">Gal Chechik</a>, at the <a href="http://www.gondabrain.biu.ac.il/">Gonda Multidisciplinary Brain Research Center</a>, at Bar Ilan University.</p>
                                    <p>
                                        I'm interested in the intersection between machine learning, genomics and neuroscience; specifically, I study how gene expression shapes complex neural processes such as brain development, and use machine learning to extract meaningful information from complex signals.
                                    </p>
                                    </div>
                                </div>
								<!--
                                <footer>
									<a href="#" class="button">Find out more</a>
								</footer>
                                -->
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Contact Me</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="https://www.facebook.com/liorKirsch"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-linkedin" href="https://il.linkedin.com/in/lior-kirsch-8549117b"><span class="label">LinkedIn</span></a></li>
									<li><a class="icon fa-google-plus" href="https://plus.google.com/+liorkirsch/"><span class="label">Google+</span></a></li>
								</ul>
								<ul class="contact">
									<!--<li>
										<h3>Address</h3>
										<p>
											Untitled Incorporated<br />
											1234 Somewhere Road Suite<br />
											Nashville, TN 00000-0000
										</p>
									</li>
                                    -->
									<li>
										<h3>Mail</h3>
										<p>lior.kirsch [at] gmail.com</p>
									</li>
                                    <!--
									<li>
										<h3>Phone</h3>
										<p>(800) 000-0000</p>
									</li>
                                    -->
								</ul>
							</section>
						</div>
					</div>
				</section>
			</div>