<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/index.html">Lior Kirsch</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="{{ site.baseurl }}/index.html">Home</a></li>

						{% assign current = page.url | downcase | split: '/' %}
                        
                        <li {% if current[1] == 'blog' %}class='current'{% endif %}>
                            <a href="{{ site.baseurl }}/blog">Blog</a>
                        </li>
                        
                        {% assign research_base_url = 'research-projects.html' %}
                        <li {% if current[1] == research_base_url %}class='current'{% endif %}>
                            <a href="{{ site.baseurl }}/{{ research_base_url }}">Research Projects</a>
							<ul>
								<li><a href="{{ research_base_url }}#develop_origin">Developmental origin of human brain regions</a></li>
                                <li><a href="{{ research_base_url }}#demixing">Multi-region demixing of brain transcriptome</a></li>
                                <li><a href="{{ research_base_url }}#cerbellar">Localizing Genes to Cerebellar Layers</a></li>
                                <li><a href="{{ research_base_url }}#net_opt">Optimizing a network to stop an epidemic</a></li>
                                <!--
								<li>
									<a href="">Phasellus consequat</a>
									<ul>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li><a href="#">Veroeros feugiat</a></li>
										<li><a href="#">Nisl sed aliquam</a></li>
										<li><a href="#">Dolore adipiscing</a></li>
									</ul>
								</li>
								<li><a href="#">Veroeros feugiat</a></li>
                                -->
							</ul>
						</li>
                        
                        {% assign other_projects_base_url = 'other-projects.html' %}
                        <li {% if current[1] == other_projects_base_url %}class='current'{% endif %}>
                            <a href="{{ site.baseurl }}/{{ other_projects_base_url }}">Other Projects</a>
							<ul>
								<li><a href="{{ other_projects_base_url }}#highlight">Highlight and Share any webpage</a></li>
                                <li><a href="{{ other_projects_base_url }}#brain_heatmaps">Interactive brain heatmaps</a></li>
							</ul>
						</li>
						
                        <li {% if current[1] == 'contact.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/contact.html">About Me</a></li>
                        <!--
                        <li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
						<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
						<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
                        -->
					</ul>
				</nav>
                <!--
				<div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div>
                -->

		</div>
	</div>